body {
  background-color: #eee;
}

.post-message {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.post-message .form-control {
  position: relative;
  padding: 10px;
  font-size: 16px;
}

.post-message .form-control:focus,
.post-message .form-control:focus {
  z-index: 2;
}

.post-message input,
.post-message textarea,
.post-message select {
  margin-bottom: 10px;
}

.post-message textarea {
  height: 150px
}